.page-buttons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  /* use justify content with transition */
}

.page-buttons > button {
  height: 30px;
  width: 80px;
}