.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* .movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-header {
  margin-top: 40px;
  margin-bottom: 40px;
} */



/* .category-header {
  font-size: 1.3em;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #CC8F8F;

} */
