.list-item {
  display: flex;
  padding: 30px;
  margin: 10px;
  height: 200px;
  border-radius: 20px;
  
  width: 80%;

  /* -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; */
  cursor: pointer;
}

.list-item:hover {
  /* -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  /* background-color: #508587; */
  background-color: #306D9F;
}

.list-book-cover{
  width: 130px;
  height: 200px;
}

.list-book-cover > img {
  height: 100%;
  width: inherit;
  border-radius: 10px;
}

.list-book-info {
  padding: 20px;
}

.list-book-title {
  margin:0;
  white-space: nowrap;
  display: flex;
  max-width: 560px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  max-height: 90%;
  max-width: 100%;
  white-space: break-spaces;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}